* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.App {
    min-height: 100vh;
    text-align: center;
}

.image-users img{
    border-radius: 50%;
    width: 5rem;
}

.addusers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.Users {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: space-around;
    text-align: center;
    align-items: center;
}